@charset "UTF-8";

/* 共通クラス */

body {
  font-size: 100%;
  color: #4f260b;
  background-color: #e8d9bf;
}

.logo {
  width: 227px;
}

h2 {
  text-align: center;
}

section,
footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.humbarger,
.header-nav.__sp,
.sp {
  display: none;
}

.pc {
  display: block;
}

/* header */

.header-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 2.51%; /* = 50px/1990px */
  padding-right: 6.73%; /* = 134px/1990px */
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 2;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item {
  color: #fff;
  font-size: 18px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

/* kv */
.kv {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 105px;
}

.kv-ttl {
  font-size: 82px;
  margin-bottom: 50px;
  line-height: 1.17;
}

.kv-ttl::before {
  content: "Have a happy day From a cup of coffee.";
  font-size: 30px;
  display: block;
  margin-bottom: 58px;
}

.kv-txt {
  font-size: 23px;
  line-height: 1.7;
}

/* about */
#about {
  display: flex;
  align-items: center;
  gap: 8%;
  padding-top: 100px;
}

.about-img {
  width: 272px;
}

.about-kv {
  width: 50%;
}

.about-kv img {
  border-radius: 0 0 100px 0;
  height: 560px;
  object-fit: cover;
}

.about-txt-box {
  width: 42%;
}

.about-ttl {
  font-size: 44px;
  margin: 60px 0 37px;
  line-height: 1.38;
}

.about-txt {
  font-size: 16px;
  line-height: 1.58;
}

/* menu */
#menu {
  padding-top: 105px;
}

.menu-img {
  width: 151px;
}

.menu-wrap {
  margin-top: 50px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 5%;
}

.menu-item {
  width: 30%;
}

.menu-item img {
  width: 100%;
  border-radius: 0 25px 0 0;
}

.menu-item h3 {
  color: #d30202;
  font-size: 38px;
  margin-top: -10px;
}

.menu-txt {
  font-size: 17px;
  margin-top: 20px;
  line-height: 1.47;
}

/* gallery */
#gallery {
  max-width: 100%;
  margin-top: 80px;
  padding: 0;
}

.gallery-img {
  width: 245px;
}

.gallery-wrap {
  /* visibility: hidden; 不要*/
  display: flex;
  align-items: center;
  height: 300px;
  margin-top: 25px;
}

/* .gallery-wrap img { width: 20%;} →jsで表示を設定しているため不要となる*/

/* event */
#event {
  margin-top: 70px;
}
.event-img {
  width: 174px;
}

.event-box {
  border: 2px solid #4f260b;
  background-color: #ffff;
  margin-top: 41px;
  width: 100%;
}

.event-list {
  margin: 0 auto;
  padding: 4.4% 0;
  width: 70%;
}

.event-content {
  font-size: 23px;
  display: flex;
}

.date {
  padding-right: 6%;
}

.event-content:nth-child(2) {
  margin: 28px 0;
}

.event-txt a {
  text-decoration: underline;
}

/* access */
#access {
  max-width: 100%;
  margin: 80px auto;
  padding: 0;
}

.access-img {
  width: 214px;
  margin-bottom: 47px;
}

iframe {
  width: 100%;
  filter: grayscale(100%) invert(90%) contrast(80%);
}

/* footer */
.footer-content {
  display: flex;
  text-align: start;
  gap: 7%;
}

.footer-txt {
  font-size: 20px;
  margin-bottom: 22px;
}

.footer-copy {
  font-size: 16px;
  text-align: center;
  margin: 58px 0 80px;
}

/* スクロール */
html {
  scroll-behavior: smooth;
}

@keyframes progress {
  0% {
    bottom: -40%;
  }
  40% {
    bottom: -40%;
  }
  45% {
    bottom: 0;
  }
  50% {
    bottom: 8%;
  }
  100% {
    bottom: 8%;
  }
}

.to-top {
  position: fixed;
  bottom: 8%;
  right: 4%;
  width: 125px;
  animation: progress linear;
  animation-timeline: scroll(
    block nearest
  ); /* cssチェッカーで「存在しないプロパティ」と表示される。 */
  transition: bottom 1s ease;
  z-index: 2;
}

.to-top a:hover {
  opacity: 0.9;
}

.slick-dots {
  bottom: 0;
}
.slick-dots li button::before {
  color: #fff;
}

.slick-dots li.slick-active button::before {
  color: #fff;
}

@media screen and (max-width: 1100px) {
  /* ハンバーガーメニュー */
  .humbarger {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
  }
  .header-nav {
    display: none;
  }

  .humbarger span {
    position: absolute;
    content: "";
    /* 図形を作るときはposition:absolute;と、content:"";はセットで必要。反映されないから。 */
    width: 30px;
    height: 3px;
    background-color: #fff;
    top: 14px;
    z-index: 10;
    transition: 0.3s;
  }

  .humbarger span::before,
  .humbarger span::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
    /* 形になる前の状態を、3秒かけて意図する形に持って行く。必ず、前の状態のものにつける*/
  }

  .humbarger span::before {
    top: -10px;
  }
  .humbarger span::after {
    bottom: -10px;
  }
  /* +値よりマイナス値の方がいいかも */

  /* 三本線を×印に */
  .open span {
    background-color: transparent; /* 色を無効化するcss */
  }
  .open span::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .open span::after {
    transform: rotate(45deg);
    bottom: 0;
  }
  /* はみ出した部分がはみ出して、交点で交わり、バッテンが見える。 */

  .header-nav.__sp {
    position: absolute;
    background-color: #00000091;
    width: 100%;
    height: 100vh; /* どんな画面であっても要素を広げてくれる */
    z-index: 9998;
  }

  .header-nav.__sp li {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
  }

  .header-nav.__sp ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* ulがliの分しか高さを持っていないので、height:100vhで広げてあげる */
    gap: 20px;
  }

  /* kv */
  .kv-ttl {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .kv-ttl::before {
    font-size: 17px;
    margin-bottom: 38px;
  }

  /* about */
  .about-ttl {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  /* 共通クラス */
  .logo {
    width: 200px;
  }

  section,
  footer {
    max-width: 100%;
  }

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  /* kv */
  .kv {
    max-width: 100%;
    padding-top: 40px;
  }

  .kv-txt {
    font-size: 16px;
  }

  /* about */
  #about {
    padding-top: 67px;
    flex-direction: column;
  }

  .about-img.__sp {
    width: 160px;
    margin-bottom: 18px;
  }

  .about-kv {
    width: 100%;
  }
  .about-kv img {
    border-radius: 0;
    height: 245px;
  }

  .about-txt-box {
    width: 100%;
  }

  .about-ttl {
    font-size: 36px;
  }

  /* menu */
  #menu {
    padding-top: 52px;
  }

  .menu-img {
    width: 87px;
  }

  .menu-wrap {
    margin-top: 25px;
  }

  .menu-list {
    flex-direction: column;
  }
  .menu-item {
    width: 100%;
    margin-top: 61px;
  }
  .menu-item h3 {
    font-size: 40px;
  }
  .menu-txt {
    font-size: 14px;
  }

  /* gallery */
  #gallery {
    margin-top: 90px;
  }

  .gallery-img {
    width: 140px;
  }
  .gallery-wrap {
    margin-top: 20px;
    height: auto;
    /* overflow: hidden; */
  }

  .gallery-wrap img {
    width: 100%;
  }

  /* event */
  #event {
    margin-top: 35px;
  }

  .event-img {
    width: 100px;
  }

  .event-box {
    margin-top: 20px;
  }

  .event-list {
    width: 88%;
    padding: 8% 0 5%;
  }

  .event-content {
    font-size: 16px;
    flex-direction: column;
  }

  .date {
    padding-right: 0;
  }

  .event-content:nth-child(2) {
    margin: 30px 0;
  }

  .event-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* access */
  .access-img {
    width: 125px;
    margin-bottom: 15px;
  }
  iframe {
    height: 190px;
  }

  /* footer */
  .footer-content {
    flex-direction: column;
  }
  .footer-txt {
    font-size: 18px;
    margin-top: 20px;
  }
  .footer-copy {
    margin: 40px 0 50px;
  }
}
