@charset "utf-8";

html {
  font-family: "Playfair Display", "Noto Serif JP", serif;
}

body {
  font-size: 100%;
  color: rgb(110, 103, 103);
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.pc {
  display: inline-block !important;
}

/* header */

header {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 50px;
  color: #242424;
  margin: 30px 0;
}
h1::after {
  content: "書くためのテーマ";
  font-size: 15px;
  color: #696969;
  font-weight: normal;
  display: block;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  margin-left: 20px;
}

.search img {
  width: 20px;
}

/* 
input {
  border-style: none;
} */

/* 虫眼鏡から検索窓出現 */
/* #search-text {
  -webkit-appearance: none;
  appearance: inherit;
  width: 60px;
  height: 60px;
  padding: 20px;
  border: none;
  background: #fff url("/challenge.img/mushimegane.jpeg") no-repeat 17px center;
  background-size: 25px 25px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
  z-index: 10;
}

form::before {
  content: url(/challenge.img/mushimegane.jpeg);
  vertical-align: middle;
  padding-right: 5px;
} */

/* テキスト入力inputにフォーカスした時の形状 */
/* #search-txt:focus {
  width: 250px;
  padding: 20px 0 20px 60px;
  box-shadow: 0 2px rgba(6, 0, 1, 0.26);
} */

/* kv */
.kv {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}
.kv img {
  width: 100%;
}

.kv-txt {
  margin-top: 30px;
  font-size: 30px;
}

/* article */
.article {
  max-width: 1100px;
  margin: 0 auto;
}

.article-content {
  padding: 30px 0;
}

.article-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-box {
  width: 60%;
}

.date {
  color: rgb(159, 159, 159);
}

.article-wrap .date {
  font-size: 18px;
}

.article-wrap .date:hover {
  color: rgb(74, 73, 73);
  opacity: 0.8;
}

.article-ttl {
  color: #2d2c2c;
}

.article-wrap .article-ttl {
  font-size: 20px;
}

.article-ttl:hover {
  color: rgb(242, 162, 12);
  opacity: 0.8;
}

.article-txt {
  font-size: 16px;
  margin: 30px 0;
}

.btn {
  text-align: center;
  margin: 40px 0;
}

.btn a {
  border: 1px solid rgb(54, 49, 49);
  padding: 10px 15px;
}

.one {
  background-color: gainsboro;
}

footer {
  max-width: 1100px;
  margin: 100px auto 20px;
  padding: 40px 0 50px;
  border-top: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.name-wrap {
  width: 20%;
}

.name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name p {
  color: #2d2c2c;
  margin: 0;
}

.name-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name-icon {
  text-align: center;
}

.icon {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0 0 0;
}

.icon-list img {
  width: 15px;
  height: 15px;
}

.icon a:hover {
  opacity: 0.7;
}

.footer-content {
  width: 70%;
}

.footer-content-list {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  width: 30%;
}

.footer-item-ttl {
  font-size: 14px;
}

.article-sub .article-ttl {
  font-size: 15px;
  width: fit-content;
  border-bottom: 1px dotted rgb(169, 169, 169);
}

.article-sub p {
  font-size: 13px;
  margin: 5px 0;
}

.category {
  font-size: 15px;
  display: block;
  width: fit-content;
  border-bottom: 1px dotted rgb(154, 154, 154);
  margin: 15px 0;
}

.category:hover {
  color: rgb(242, 162, 12);
  opacity: 0.8;
}

.footer-search {
  margin-top: 50px;
}

.footer-search input {
  border-color: #f1f1f1;
}

.menu {
  max-width: 1100px;
  margin: 0 auto;
}

.menu-nav-list img {
  width: 30px;
}

.copy {
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 980px) {
  header {
    max-width: 100%;
    width: 90%;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }

  .kv {
    max-width: 100%;
    width: 90%;
  }

  .kv-txt {
    font-size: 20px;
  }

  .article {
    max-width: 100%;
    width: 90%;
  }

  .article-wrap {
    flex-direction: column;
    justify-content: unset;
    margin-bottom: 0;
  }

  .article-box {
    width: 100%;
  }

  .article-wrap .date {
    font-size: 15px;
    margin: 0 0 10px;
  }

  .article-wrap .article-ttl {
    font-size: 18px;
    margin: 0;
  }

  .article-txt {
    font-size: 14px;
    margin: 10px 0 50px 0;
  }

  .btn {
    text-align: start;
  }

  .btn a {
    padding: 5px 10px;
  }

  footer {
    max-width: 100%;
    width: 90%;
    padding: 40px 0 50px;
  }

  .footer {
    flex-direction: column;
    justify-content: unset;
  }

  .name-wrap {
    width: 100%;
  }

  .name {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .name p {
    font-size: 20px;
  }

  .name-icon {
    text-align: center;
  }

  .icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .icon-list img {
    width: 100%;
    height: 20px;
  }

  .footer-content {
    width: 100%;
  }

  .footer-content-list {
    flex-direction: column;
    justify-content: unset;
  }

  .footer-item {
    width: 100%;
    margin-top: 80px;
  }

  .footer-item-ttl {
    margin-bottom: 30px;
  }

  .article-sub p {
    margin-bottom: 15px;
  }

  .footer-search {
    margin-top: 80px;
  }

  .menu {
    max-width: 100%;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }

  .nav-list {
    display: none;
  }

  .nav {
    position: fixed;
    top: 60px;
    right: 30px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 10;
  }

  .nav,
  .nav::before,
  .nav::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #2d2c2c;
  }

  .nav::before {
    bottom: 8px;
  }

  .nav::after {
    top: 8px;
  }

  .kv {
    width: 100%;
  }

  .kv-txt {
    width: 90%;
    margin: 20px auto;
  }

  .btn a {
    padding: 10px 20px;
  }

  .copy {
    text-align: start;
  }
}
